#div1{
    margin:10px;
    font-size:1.25em;
}

table {
    border-collapse:collapse;
    border:0px solid #7f7f7f;
}

td {
    border:0px solid #7f7f7f;
    width:100px;height:50px;
    text-align:center;
}

#div2 {
    margin:10px;
    font-size:1em;
}

table1 {
    border-collapse:collapse;
    border:0px solid #7f7f7f;

}

td1 {
    border:0px solid #7f7f7f;
    margin:10px;
    width:50%;height:50%;
    text-align:left;
}

td2 {
    border:0px solid #7f7f7f;
    width:100%;height:50%;
    margin:10px;
    text-align:center;
}

table.fixed {
      table-layout: fixed;
      width: 630px;
    }
table.fixed td {
      overflow: hidden;
    }

input{
    -webkit-user-select: text;
}

#popupDialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ccc;
    border: 1px solid #cca;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     z-index: 1000;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


